@import url('https://fonts.googleapis.com/css?family=Merriweather|Muli&display=swap');

/*=================================
Global styles
===================================*/
:root {
    --primary-font : 'Muli', sans-serif;
    --Secondary-font: 'Merriweather', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

.nav-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Merriweather', sans-serif;
}

p {
    font-family: 'Muli', sans-serif;
}

/*=================================
Header and Navbar styles start
===================================*/

.header {
    padding: 2.7rem 0;
}

/*-------Navbar Brand style-------*/

.nav-logo {
    font-size: 2rem;
    font-weight: 900;
    color: #000;
}

.nav-logo:hover {
    cursor: pointer;
}

/*-------ALL Navbar links global style-------*/

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    height: 50%;
    /* line-height: 50px; */
    /* padding: 0 0.7rem; */
    /* display: block; */
    color: #000;
}

nav ul li a:hover {
    color: red;
    text-decoration: none;
}
/*-----------style Specificly for Large Devices------------*/
.hide-desktop, .toggle-menu {
    display: none;
}

/*-----------Navbar Middle Sections style------------*/

.nav-middle-link {
    /* padding: 0 1rem; */
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 500;
}

.nav-middle-link i {
    margin-left: 0.4rem;
}

/*-----------Navbar Toggle style------------*/
.menu-style {
    text-transform: uppercase;
    padding: 0.4rem 0;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

/*-----------Navbar Right-cart Section style------------*/

.navbar-right {
    float:right
}

.nav-cart-link {
    font-size: 1.2rem;
    line-height: 1.3rem;
    border-right: 1px solid rgb(218, 218, 218);
    color: rgb(136, 136, 136);
    font-weight: lighter;
    padding: 0 0.7rem;
    position: relative;
}

.badge-custom {
    position: absolute;
    bottom: .63rem;
    right: .5rem;
    border-radius: .5rem;
}

.second, .third {
    padding-right: 1.4rem;
}

.last {
    border-right: none;
}

@media only screen and (max-width: 991px) {
    #brand {
        max-width: 100%;
        /* margin-left: 18rem ; */
        text-align: center !important;
        /* padding-bottom: 2rem 0 !important; */
        display: block;
        margin-bottom: 3rem;
    }
    .navbar-brand:hover {
        cursor: pointer;
    }

    .toggle-menu {
        display: block;
        float: left;
    }

    .header-middle {
        /* display: none; */
        position: absolute;
        top: 0px;
        left: 0px;
        width: 30vw;
        height: 100vh;
        background: #aaa;
        transition: 0.5s;
    }

    .navbar-middle {
        display: block;
        text-align: left;
    }

    .hide-desktop {
        display: block;
    }
    
}

