@import url('https://fonts.googleapis.com/css?family=Merriweather|Muli&display=swap');

/*=================================
Global styles
===================================*/
:root {
    --primary-font: 'Muli', sans-serif;
    --Secondary-font: 'Merriweather', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

.nav-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', sans-serif;
}

p {
    font-family: 'Muli', sans-serif;
}

/*=================================
Header and Navbar styles start
===================================*/

.header {
    padding: 2.7rem 0;
}

/*-------Navbar Brand style-------*/

.nav-logo {
    font-size: 2rem;
    font-weight: 900;
    color: #000;
}

.nav-logo:hover {
    cursor: pointer;
}

/*-------ALL Navbar links global style-------*/

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    height: 50%;
    /* line-height: 50px; */
    /* padding: 0 0.7rem; */
    /* display: block; */
    color: #000;
}

nav ul li a:hover {
    color: red;
    text-decoration: none;
}

/*-----------style Specificly for Large Devices------------*/
.hide-desktop,
.toggle-menu {
    display: none;
}

/*-----------Navbar Middle Sections style------------*/

.nav-middle-link {
    /* padding: 0 1rem; */
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 500;
}

.nav-middle-item i {
    margin-left: 0.4rem;
}

/*-----------Navbar Toggle style------------*/
.menu-style {
    text-transform: uppercase;
    padding: 0.4rem 0;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    cursor: pointer;
}

/*-----------Navbar Right-cart Section style------------*/

.navbar-right {
    float: right;
}

.nav-cart-link {
    font-size: 1.2rem;
    line-height: 1.3rem;
    border-right: 1px solid rgb(218, 218, 218);
    color: rgb(136, 136, 136);
    font-weight: lighter;
    padding: 0 0.7rem;
    position: relative;
}

.badge-custom {
    position: absolute;
    bottom: .63rem;
    right: .5rem;
    border-radius: .5rem;
}

.second,
.third {
    padding-right: 1.4rem;
}

.last {
    border-right: none;
}

/*-----------Navbar Responsive and Mobile Menu style------------*/
@media only screen and (max-width: 991px) {
    #brand {
        max-width: 100%;
        /* margin-left: 18rem ; */
        text-align: center !important;
        /* padding-bottom: 2rem 0 !important; */
        display: block;
        margin-bottom: 3rem;
    }

    .navbar-brand:hover {
        cursor: pointer;
    }

    .toggle-menu {
        display: block;
        float: left;
    }

    .header-middle {
        /* display: none; */
        position: absolute;
        top: -123px;
        left: -15px;
        width: 0;
        height: 100vh;
        background: rgb(253, 253, 253);
        transition: 0.5s;
        z-index: 5;
        overflow-x: hidden;
    }

    .navbar-middle {
        display: block;
        text-align: left;
    }

    .hide-desktop {
        display: block;
        padding: 1rem 0.8rem;
        background-color: red;
        text-align: right;
    }

    .cross {
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .nav-middle-item {
        padding: 1rem 1rem;
        border-bottom: 1px solid rgb(219, 218, 218);
    }

    .nav-middle-link {
        color: rgb(90, 89, 89);
    }

    .nav-middle-item i {
        float: right;
    }

}

/*=================================
Header and Navbar styles End
===================================*/

/*=================================
Product Slider styles Start
===================================*/
.slider-main-wrapper{    
    margin-bottom: 100px !important;
}

.slider-main-wrapper .col {
    padding: 0;
}

.slider-main-wrapper .container-fluid {
    padding: 0;
}

.wrapper {
    
}

.slider-1 {
    background-color: rgb(218, 175, 175);
}

.slider-2 {
    background-color: rgb(35, 163, 185);
}

.slider-3 {
    background-color: rgb(255, 160, 71);
}

.product-image {
    /* width: 52%; */
    /* height: 100%; */
    height: auto;
    padding: 0 3.9vw;
}

.product-image img {
    max-height: 50vh;
    position: relative;
    top: 9.17vh;
    /* 9.17vh */
}

.product-text {
    /* width: 48%; */
    padding: 9.17vh 2.42vw 1.2vh 1.21vw;
    color: #fff;
}

.product-title a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Merriweather', sans-serif;
}

.product-author {
    margin: 1.7vh 0;
}

.product-author a {
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
    font-family: 'Merriweather', sans-serif;
}

.product-description {
    /* text-align: justify; */
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.product-button {
    margin-top: 5.14vh;
    margin-bottom: 0.2vh;
}

.product-button a {
    text-decoration: none;
    padding: 1.83vh 2vw;
    background-color: #fff;
    font-size: 0.8rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 0px;
    /* z-index: 1; */
    box-shadow: 0 13px 29.4px 0.6px rgba(43, 43, 43, .25);
}

.product-button a:hover {
    color: #fff;
    background-color: tomato;
}

@media only screen and (max-width:1199px) {
    .each-item {
       
    }

    .wrapper {
        
    }
    
    .product-image img {
        min-height: 432px;
        max-height: 748px;
    }

}

@media only screen and (max-width:767px) {
    /* .wrapper {
        display: block;
    }
    
    .product-image{
        display: block;
        width: 100%;
        height: auto;
    }

    .item { */
        /* max-height: 1375px; */
        /* height: 1100px; 
    }

    .product-image img {
        max-height: 1040px;
    }

    .product-text {
        width: 100%;
        display: block;
        height: auto;
    } */
}



/*===================================
Product Category showcase styling start
=====================================*/
/* .category-section {
    margin: 10% 0;
} */
.category-section {
    background-color: #F5F5F5;
    margin-bottom: 90px !important;
    padding-left: 74.5px;
    padding-right: 74.5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-wrapper:hover {
    
}


.cat-icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 25px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .2);
    line-height: 60px;
    color: rgb(102, 101, 101);
}

.category-type-part .name {
    font-weight: 600;
    font-size: 1.5rem;
}

.category-type-part .availability {
    margin-bottom: 0;
}

@media only screen and (min-width: 992px) {
    .my-row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .my-col-xl {
        max-width: 240px;
    }
} 

